<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
</head>
<body>
<div class="page-wrapper">
    <!-- Content wrapper -->
    <div class="content-wrapper">
          @RenderBody()
    </div>
  </div>
</body>
</html>
