<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <nav class="navbar">
        <h1>Pohon</h1>
        <p>A blatant linktree ripoff</p>
          <form>
            <button href=@ViewData["Github.AuthorizeUri"] class="btn btn-primary" type="submit">Sign in with Github</button>
          </form>
        </nav>
    <div>
          @RenderBody()
    </div>
</body>
</html>
