@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "../Shared/_Layout";
}

<div class="container-xl">
    <h2>See if you can make a pohon now 🌲</h2>
    <form>
        <label for="linkName">pohon.sh/</label>
        <input type="text" class="form-control" name="linkName" id="linkName" placeholder="yournamehere" required="required">
        <input type="submit" class="form-control" value="Check">
    </form>
</div>
