@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "../Shared/_Layout";
}

<div class="container-xl">
    <h1>See if you can make a pohon now 🌲</h1><br>
    <form class="w-400 mw-full">
        <div class="form-group">
            <label for="full-name">pohon.sh/</label>
            <input type="text" class="form-control" id="full-name" placeholder="your pohon link" required="required">
        </div>
        <input class="btn btn-primary" type="submit" class="form-control" value="Check">
    </form>
</div>
