@page
@model Pohon.Pages.Main

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Home page";
}

<h1>See if you can make a pohon now 🌲</h1><br>
<div class="row">
    <div class="col-2"><p>pohon.sh/</p></div>
    <div class="col"> <input type="text"></div>
</div>

